.DS_Store
*.iml
.gradle/
build/
.idea/
local.properties
.cxx/
*.apk
*.ap_
*.dex
captures/
.externalNativeBuild/
app/src/main/assets/translate/**/*.onnx
app/src/main/assets/translate/**/tokenizer.json
app/src/main/assets/models/**/*.tar.bz2
